#arrowsGame{
    height: 150px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    
    display: none;
    flex-direction: column;
}

.middleArrow{
    display: flex;
    justify-content: space-between;
}

.ArrowDown, .ArrowUp, .ArrowRight, .ArrowLeft{
    height: 50px;
    width: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;
    border-radius: 50%;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.2);
}

.ArrowUp, .ArrowDown{
    align-self: center;
}

.ArrowDown{
    transform: rotate(-90deg);
}

.ArrowUp{
    transform: rotate(90deg);
}

.ArrowRight{
    transform: rotate(180deg);
}

@media (max-height: 425px){
    #arrowsGame{
        display: flex;
    }
}

@media (max-width: 425px){
    #arrowsGame{
        display: flex;
    }
}



