#mensagens{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.frontScreen{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aviso, .endgame{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100vw;
    height: 100vh;
}

.conteudo_aviso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 200px;
}

button{
    font-size: 22px;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to bottom, rgb(5, 177, 177),rgb(17, 187, 159), rgb(41, 194, 161));

    border: none;
    border-radius: 30px;
    width: 250px;
    padding: 15px 20px;
}

button:hover{
    background-image: linear-gradient(to bottom,rgb(15, 172, 172), rgb(17, 187, 159), rgb(15, 172, 172));
    cursor: pointer;
}

.btnJogar{
    display: none;
}

.texto_aviso, .texto_endgame{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.texto_endgame{
    font-size: 30px;
}

.displayNone{
    display: none;
}

@media (max-height: 425px){
    .btnJogar{
        display: inline;
    }
}

@media (max-width: 425px){
    .btnJogar{
        display: inline;
    }
}